*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: #f3f1ee;
}

video{
    float : center;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 750px;
    margin-right: 100px;
    margin-left: 300px;
}